<html lang="en">


<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Google font icons  -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Stylesheet -->

    <link rel="stylesheet" href="style.css"/>

    <link rel="stylesheet" href="resources/css/home.css"/>


    <title>Document</title>


</head>

<body>


<!-- Header starts -->
<div class="header">

    <div class="site_header">
        <p class="site_name">THE COLLEGE OUTLET</p>

    </div>

    <!-- Search bar-->

    <div class="search_bar">
        <form action="">
            <input type="text" placeholder="Search"/>
            <button><i class="material-icons">search</i></button>
        </form>

    </div>

    <!-- Search Bar ends-->



    <!-- User Icons-->

    <div class="user_icon">
        <i class="material-icons">person_add</i>
        <i class="material-icons">account_circle</i>
    </div>

    <!-- User Icons ends-->

</div>

<!-- Header ends -->




<!-- main body starts  -->

<div class="mainbody">

    <!-- User side bar starts  -->
    <div class="user_sidebar">
        <div class="sidebar_categories">

            <div class="sidebar_single_category">
                <i class="material-icons">perm_identity</i>
                <span>Profile</span>
            </div>

            <div class="sidebar_single_category">
                <i class="material-icons">manage_accounts</i>
                <span>Edit Profile</span>
            </div>

            <div class="sidebar_single_category">
                <i class="material-icons">playlist_add</i>
                <span>Add Product</span>
            </div>

            <div class="sidebar_single_category">
                <i class="material-icons">logout</i>
                <span>Logout</span>
            </div>
        </div>
    </div>
    <!-- User side bar ends  -->



    <!-- Products Area begins -->

    <div class="products">


        <h1>Products</h1>




        <div class="product-container">

            <!-- Single product starts -->
            <div class="product">

                <div class="product_image">
                    <img src="public/jordans.jpg" alt="">

                </div>

                <div class="product_details">

                    <div class="product_name">
                        <h3>Jordans</h3>
                    </div>

                    <div class="product_email">

                        <a href="">email@adress.com</a>
                    </div>

                    <div class="product_price">
                        <h4>$100.25</h4>
                    </div>

                </div>

            </div>
            <!-- Single product ends -->


            <!-- Single product starts -->
            <div class="product_image">
                <div>
                    <img src="public/3.jpg" alt="">

                </div>
                <div class="product_details">

                    <div class="title">
                        <h3>Wine Glass</h3>
                    </div>

                    <div class="email">
                        <h3>Wine Glass</h3>
                        <a href="">email@adress.com</a>
                    </div>

                    <div class="price">


                    </div>

                </div>

            </div>
            <!-- Single product ends -->


            <!-- Single product starts -->
            <div class="product_image">
                <div>
                    <img src="public/blackdress.jpg" alt="">

                </div>
                <div class="product_details">

                    <div class="title">
                        <h3>Naomi Campbell dress</h3>
                    </div>

                    <div class="email">
                        <h3>Wine Glass</h3>
                        <a href="">email@adress.com</a>
                    </div>

                    <div class="price">


                    </div>

                </div>

            </div>
            <!-- Single product ends -->


            <!-- Single product starts -->
            <div class="product_image">
                <div>
                    <img src="public/3.jpg" alt="not ava">

                </div>
                <div class="product_details">

                    <div class="title">
                        <h3>Wine Glass</h3>
                    </div>

                    <div class="email">
                        <a href="">email@adress.com</a>
                    </div>

                    <div class="price">


                    </div>

                </div>

            </div>
            <!-- Single product ends -->


        </div>

    </div>


    <!-- Products Area ends -->
</div>




<!-- main body ends -->



</body>




</html>